@charset "utf-8";

/* CSS Document */

body {
    color:#666666;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:11px;
    }


* {
    outline-color:-moz-use-text-color;
    outline-style:none;
    outline-width:medium;
    }

    

.wrap_cr {
    padding-top:10px;
    width:980px;
    margin:auto;
    height:1%;
    padding-bottom:10px;
    }
.link {
    color:#555555;
    text-decoration:underline
    }
.link:hover {
     color:#ff9900;
     text-decoration:underline
    }

.nolink {
     color:#939598;
     text-decoration:underline;
    }

.both {
     clear:both
    } 
a.searchresult{
    color:#003399; 
    text-decoration: underline;
    }
a.searchresult:visited{
    color:#333333; 
    text-decoration: underline;
    }
a.searchresult:hover{
    color:#F7931D; 
    text-decoration: underline;
    } 

body table {
font-size:11px;
text-align:left;
}
body div {
}


#vnw_header {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_topheadbg.gif");
    background-position:0 0;
    background-repeat:repeat-x;
    color:#FFFFFF;
    height:130px;
    min-width:980px;
    }
#vnw_header a:hover {
    color: #FF9900;
}

a:hover {
    color:#F7931D;
    text-decoration: underline;
    } 

.vnw_wrap_header {
    margin-bottom:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    position:relative;
    width:980px;
    }
    
.vnw_tophead {
    float:left;
    padding-top:5px;
    }
        
#vnw_header a {
    color:#FFFFFF;
    }

.vnw_btnlang_vn {
    right:170px;
    }    
        
.text_yellow {
    color:#FFFF00;
    }

.vnw_spacemenu {
    padding-bottom:0;
    padding-left:10px;
    padding-right:10px;
    padding-top:0;
    }

.vnw_foremp {
    height:52px;
    position:absolute;
    right:0;
    text-align:right;
    top:0;
    }

.vnw_forempleft {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_bgforemp.gif");
    background-position:0 0;
    background-repeat:no-repeat;
    display:block;
    float:left;
    height:52px;
    width:9px;
    }

.vnw_forempct {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_bgforemp.gif");
    background-position:0 100%;
    background-repeat:repeat-x;
    float:left;
    height:37px;
    line-height:18px;
    padding-bottom:10px;
    padding-left:0;
    padding-right:0;
    padding-top:5px;
    text-align:right;
    }

.vnw_forempct a {
    color:#FFFF00 !important;
    font-weight:bold;
    text-decoration:none;
    }
.vnw_forempright {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_bgforemp.gif");
    background-position:100% 0;
    background-repeat:no-repeat;
    display:block;
    float:left;
    height:52px;
    width:9px;
    }

.vnw_toplogobanner {
    padding-left:15px;
    padding-top:15px;
    width:790px;
    }
.floatLeft {
    float:left;
    } 

img {
    border-bottom-color:-moz-use-text-color;
    border-bottom-style:none;
    border-bottom-width:medium;
    border-left-color-ltr-source:physical;
    border-left-color-rtl-source:physical;
    border-left-color-value:-moz-use-text-color;
    border-left-style-ltr-source:physical;
    border-left-style-rtl-source:physical;
    border-left-style-value:none;
    border-left-width-ltr-source:physical;
    border-left-width-rtl-source:physical;
    border-left-width-value:medium;
    border-right-color-ltr-source:physical;
    border-right-color-rtl-source:physical;
    border-right-color-value:-moz-use-text-color;
    border-right-style-ltr-source:physical;
    border-right-style-rtl-source:physical;
    border-right-style-value:none;
    border-right-width-ltr-source:physical;
    border-right-width-rtl-source:physical;
    border-right-width-value:medium;
    border-top-color:-moz-use-text-color;
    border-top-style:none;
    border-top-width:medium;
    }    
    
    
.vnw_topbanner {
    height:71px;
    margin-top:10px;
    width:550px;
    }   
 

element.style {
    clear:both;
    } 
      
element.style {
    position:relative;
    }    

.vnw_topbanner table {
    width:550px;
    }  
.vnw_topbanner table td {
    text-align:right;
    }    




#vnw_nav {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:#7FDCF8;
    background-image:none;
    background-position:0 0;
    background-repeat:repeat;
    height:30px;
    min-width:980px;
    }



.vnw_wrapmenu {
    margin-bottom:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    width:980px;
    }

ul.vnw_mainnav {
    float:left;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    padding-bottom:0;
    padding-left:0;
    padding-right:0;
    padding-top:5px;
    }

ul.vnw_mainnav li a:hover span {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../img/vnw_mainnav_over.gif");
    background-position: 100% 0;
    background-repeat: no-repeat;

}

ul {
    list-style-type:none;
    }

ul.vnw_mainnav li {
    float:left;
    margin-right:5px;
    }

ul.vnw_mainnav li a, ul.vnw_mainnav li a.vsredirect {
    color:#333333;
    display:block;
    float:left;
    font-weight:bold;
    height:15px;
    padding-bottom:4px;
    padding-left:4px;
    padding-right:0;
    padding-top:0;
    text-decoration:none;
    text-transform:uppercase;
    }

ul.vnw_mainnav li a span, ul.vnw_mainnav li a.vsredirect span {
    display:block;
    padding-bottom:3px;
    padding-left:7px;
    padding-right:11px;
    padding-top:3px;
    }



.vnw_login {
    float:right;
    padding-top:8px;
    }

a {
    color:#666666;
    } 

.vnw_spacemenu {
    padding-bottom:0;
    padding-left:10px;
    padding-right:10px;
    padding-top:0;
    }



/*home*/

#vnw_contentbg {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_contentbg.gif");
    background-position:0 0;
    background-repeat:repeat-x;
    min-width:980px;
    padding-top:10px;
    }

.vnw_wrap {
    margin-bottom:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    width:950px;
    }

.vnw_bgpanel {
    color:#333333;
    height:209px;
    position:relative;
    width:950px;
    }
.vnw_bgpanel_2_vn {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_panel2_vn.jpg");
    background-position:0 0;
    background-repeat:no-repeat;
    }
  
.vnw_bgpanel_3_vn {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_panel3_vn.jpg");
    background-position:0 0;
    background-repeat:no-repeat;
    }

.vnw_bgpanel_1_vn {
	background:url("../img/vnw_panel1_vn.jpg") no-repeat scroll 0 0 transparent;
	}

.vnw_bgpanel_1_vn, 
.vnw_bgpanel_2_vn, 
.vnw_bgpanel_3_vn {
    height:209px;
    width:950px;
    }

ul.vnw_paneltab {
    left:390px;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    padding-bottom:0;
    padding-left:0;
    padding-right:0;
    padding-top:0;
    position:absolute;
    top:8px;
    z-index:1;
    }

ul.vnw_paneltab li {
    float:left;
    margin-right:10px;
    }

ul.vnw_paneltab li a.tabactive {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_tab_panel.gif");
    background-position:0 -46px;
    background-repeat:no-repeat;
    color:#00CCFF;
    }

ul.vnw_paneltab li a.tabactive span {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_tab_panel.gif");
    background-position:100% 0;
    background-repeat:no-repeat;
    }

element.style {
    display:block;
    }

.vnw_title2 {
    color:#FF9900;
    font-size:14px;
    font-weight:bold;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    }

.vnw_title4 {
    color:#00CCFF;
    font-weight:bold;
    }

ul.vnw_catgorysearch {
    float:left;
    margin-bottom:5px;
    margin-left:0;
    margin-right:0;
    margin-top:5px;
    padding-bottom:0;
    padding-left:0;
    padding-right:0;
    padding-top:0;
    width:240px;
    }

ul.vnw_catgorysearch li {
    color:#6F6F6F;
    padding-bottom:5px;
    }

ul.vnw_catgorysearch li a {
    text-decoration:none;
    }


.vnw_searchother {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_dotline.gif");
    background-position:0 0;
    background-repeat:repeat-x;
    clear:both;
    padding-top:10px;
    }

.vnw_searchother a {
    padding-right:30px;
    }

.vnw_viewall {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_bulletarrow.gif");
    background-position:0 -32px;
    background-repeat:no-repeat;
    color:#333333;
    display:block;
    font-weight:bold;
    padding-left:10px;
    }

.vnw_tabctPanel {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_panel_bg.gif");
    background-position:0 0;
    background-repeat:no-repeat;
    height:146px;
    left:369px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    position:absolute;
    top:30px;
    width:492px;
    z-index:0;
    }

.vnw_listjobtool {
    margin-bottom:0;
    margin-left:40px;
    margin-right:0;
    margin-top:20px;
    padding-bottom:0;
    padding-left:0;
    padding-right:0;
    padding-top:0;
    }

.vnw_listjobtool li {
    margin-bottom:15px;
    }

.vnw_title2 {
    color:#FF9900;
    font-size:14px;
    font-weight:bold;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    }

.vnw_tabctPanel_dj02 {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_panel_bg02.gif");
    background-position:0 0;
    background-repeat:no-repeat;
    height:162px;
    left:369px;
    padding-top:4px;
    position:absolute;
    top:30px;
    width:532px;
    z-index:0;
    }

.vnw_tabctPanel_dj02Bg {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("http://images.vietnamworks.com/vnw_panel_dj02.jpg");
    background-position:0 0;
    background-repeat:no-repeat;
    height:48px;
    padding-bottom:0;
    padding-left:30px;
    padding-right:0;
    padding-top:110px;
    width:502px;
    }




.vnw_conrer_panel {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:#FFFFFF;
    background-image:url("../img/vnw_corner_panel_bg.gif");
    background-position:0 100%;
    background-repeat:repeat-x;
    height:36px;
    }

.vnw_formquicksearch {
    float:right;
    padding-bottom:0;
    padding-left:0;
    padding-right:50px;
    padding-top:10px;
    }

form {
    display:block;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    padding-bottom:0;
    padding-left:0;
    padding-right:0;
    padding-top:0;
    }


input, select {
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:11px;
    }

.vnw_btn1 {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_btn1.gif");
    background-position:0 0;
    background-repeat:no-repeat;
    border-bottom-style:none;
    border-left-style-ltr-source:physical;
    border-left-style-rtl-source:physical;
    border-left-style-value:none;
    border-right-style-ltr-source:physical;
    border-right-style-rtl-source:physical;
    border-right-style-value:none;
    border-top-style:none;
    color:#FFFFFF;
    cursor:pointer;
    font-size:11px;
    font-weight:bold;
    height:21px;
    width:80px;
    }


.vnw_botbannel {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:#DFDFDF;
    background-image:none;
    background-position:0 0;
    background-repeat:repeat;
    height:6px;
    margin-bottom:10px;
    }


.vnw_botbannel_left {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_corner_panel.gif");
    background-position:-6px 0;
    background-repeat:no-repeat;
    display:block;
    float:left;
    height:6px;
    width:6px;
    }

.vnw_botbannel_right {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_corner_panel.gif");
    background-position:0 0;
    background-repeat:no-repeat;
    display:block;
    float:right;
    height:6px;
    width:6px;
    }

ul.vnw_paneltab {
    left:390px;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    padding-bottom:0;
    padding-left:0;
    padding-right:0;
    padding-top:0;
    position:absolute;
    top:8px;
    z-index:1;
    }

ul.vnw_paneltab li {
    float:left;
    margin-right:10px;
    }

ul.vnw_paneltab li a.tabactive {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_tab_panel.gif");
    background-position:0 -46px;
    background-repeat:no-repeat;
    color:#00CCFF;
    }

ul.vnw_paneltab li a.tabactive span {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_tab_panel.gif");
    background-position:100% 0;
    background-repeat:no-repeat;
    }
ul.vnw_paneltab li a.tabactive:hover {
    color: #00CCFF;
}

#vnw_leftcol {
    float:left;
    width:220px;
    }

.vnw_conrertop_t {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_boxbg.gif");
    background-position:0 -48px;
    background-repeat:repeat-x;
    height:6px;
    }

.vnw_conrertopt_left {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_boxbg.gif");
    background-position:0 -36px;
    background-repeat:no-repeat;
    display:block;
    float:left;
    height:6px;
    width:6px;
    }

.vnw_conrertopt_right {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_boxbg.gif");
    background-position:-12px -36px;
    background-repeat:no-repeat;
    display:block;
    float:right;
    height:6px;
    width:6px;
    }

h2.vnw_boxtitle {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:#00BCF3;
    background-image:url("../img/vnw_boxbg.gif");
    background-position:0 -55px;
    background-repeat:repeat-x;
    border-bottom-color:#CCCCCC;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-left-color-ltr-source:physical;
    border-left-color-rtl-source:physical;
    border-left-color-value:#CCCCCC;
    border-left-style-ltr-source:physical;
    border-left-style-rtl-source:physical;
    border-left-style-value:solid;
    border-left-width-ltr-source:physical;
    border-left-width-rtl-source:physical;
    border-left-width-value:1px;
    border-right-color-ltr-source:physical;
    border-right-color-rtl-source:physical;
    border-right-color-value:#CCCCCC;
    border-right-style-ltr-source:physical;
    border-right-style-rtl-source:physical;
    border-right-style-value:solid;
    border-right-width-ltr-source:physical;
    border-right-width-rtl-source:physical;
    border-right-width-value:1px;
    border-top-color:-moz-use-text-color;
    border-top-style:none;
    border-top-width:medium;
    color:#FFFFFF;
    font-size:16px;
    font-weight:bold;
    line-height:20px;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    }

.vnw_fe_ct {
    padding-right:0;
    }

.logo_feature {
    border-bottom-color:-moz-use-text-color;
    border-bottom-style:none;
    border-bottom-width:0;
    border-left-color-ltr-source:physical;
    border-left-color-rtl-source:physical;
    border-left-color-value:-moz-use-text-color;
    border-left-style-ltr-source:physical;
    border-left-style-rtl-source:physical;
    border-left-style-value:none;
    border-left-width-ltr-source:physical;
    border-left-width-rtl-source:physical;
    border-left-width-value:0;
    border-right-color-ltr-source:physical;
    border-right-color-rtl-source:physical;
    border-right-color-value:-moz-use-text-color;
    border-right-style-ltr-source:physical;
    border-right-style-rtl-source:physical;
    border-right-style-value:none;
    border-right-width-ltr-source:physical;
    border-right-width-rtl-source:physical;
    border-right-width-value:0;
    border-top-color:-moz-use-text-color;
    border-top-style:none;
    border-top-width:0;
    margin-left:2px;
    margin-top:10px;
    }


.logo_feature td {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/bg_featured_logo.png");
    background-position:0 1px;
    background-repeat:no-repeat;
    height:55px;
    padding-left:1px;
    padding-top:2px;
    vertical-align:top;
    width:98px;
    }


.vnw_conrer_bot {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_boxbg.gif");
    background-position:0 -117px;
    background-repeat:repeat-x;
    height:6px;
    margin-bottom:10px;
    }



.vnw_conrer_bot_left {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_boxbg.gif");
    background-position:-24px -36px;
    background-repeat:repeat-x;
    display:block;
    float:left;
    height:6px;
    width:6px;
    }

.vnw_conrer_bot_right {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_boxbg.gif");
    background-position:-18px -36px;
    background-repeat:repeat-x;
    display:block;
    float:right;
    height:6px;
    width:6px;
    }

.vnw_AffiliateAdv {
    text-align:center;
    }

.vnw_AffiliateAdv img {
    margin-bottom:10px;
    }

#vnw_rightcol {
    float:right;
    height:1%;
    width:720px;
    }

.vnw_conrertop {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_boxbg.gif");
    background-position:0 -122px;
    background-repeat:repeat-x;
    height:6px;
    }

.vnw_conrer_top_left {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_boxbg.gif");
    background-position:-24px -42px;
    background-repeat:no-repeat;
    display:block;
    float:left;
    height:6px;
    width:6px;
    }

.vnw_conrer_top_right {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_boxbg.gif");
    background-position:-18px -42px;
    background-repeat:no-repeat;
    display:block;
    float:right;
    height:6px;
    width:6px;
    }

.vnw_conrer_ct {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:#FFFFFF;
    background-image:url("../img/vnw_boxbg_ct.gif");
    background-position:0 100%;
    background-repeat:repeat-x;
    border-left-color-ltr-source:physical;
    border-left-color-rtl-source:physical;
    border-left-color-value:#CCCCCC;
    border-left-style-ltr-source:physical;
    border-left-style-rtl-source:physical;
    border-left-style-value:solid;
    border-left-width-ltr-source:physical;
    border-left-width-rtl-source:physical;
    border-left-width-value:1px;
    border-right-color-ltr-source:physical;
    border-right-color-rtl-source:physical;
    border-right-color-value:#CCCCCC;
    border-right-style-ltr-source:physical;
    border-right-style-rtl-source:physical;
    border-right-style-value:solid;
    border-right-width-ltr-source:physical;
    border-right-width-rtl-source:physical;
    border-right-width-value:1px;
    height:1%;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    }
.nopadding {
    padding-bottom:0 !important;
    padding-left:0 !important;
    padding-right:0 !important;
    padding-top:0 !important;
    }


#vnw_vipLogo {
    padding-bottom:5px;
    padding-left:8px;
    padding-right:5px;
    padding-top:5px;
    }


#vnw_vipLogo .salesLogo {
    float:left;
    height:113px;
    overflow-x:hidden;
    overflow-y:hidden;
    padding-bottom:0;
    padding-left:5px;
    padding-right:5px;
    padding-top:0;
    width:165px;
    }
#vnw_vipLogo .salesLogo .salesLogoImage {
    border-bottom-color:#FFFFFF;
    border-bottom-style:solid;
    border-bottom-width:2px;
    border-left-color-ltr-source:physical;
    border-left-color-rtl-source:physical;
    border-left-color-value:#FFFFFF;
    border-left-style-ltr-source:physical;
    border-left-style-rtl-source:physical;
    border-left-style-value:solid;
    border-left-width-ltr-source:physical;
    border-left-width-rtl-source:physical;
    border-left-width-value:2px;
    border-right-color-ltr-source:physical;
    border-right-color-rtl-source:physical;
    border-right-color-value:#FFFFFF;
    border-right-style-ltr-source:physical;
    border-right-style-rtl-source:physical;
    border-right-style-value:solid;
    border-right-width-ltr-source:physical;
    border-right-width-rtl-source:physical;
    border-right-width-value:2px;
    border-top-color:#FFFFFF;
    border-top-style:solid;
    border-top-width:2px;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    padding-bottom:0;
    padding-left:0;
    padding-right:0;
    padding-top:0;
    }
#vnw_vipLogo .salesLogo .salesLogoDesc {
    color:#333333;
    display:block;
    font-size:10px;
    height:25px;
    padding-bottom:0;
    padding-left:5px;
    padding-right:5px;
    padding-top:0;
    }


#vnw_vipLogo .salesLogo .salesLogoLink {
    display:block;
    height:113px;
    text-decoration:none;
    width:165px;
    }


#vnw_vipLogo .salesLogo .salesLogoLink:hover {
    background-attachment: scroll;
    background-color: #FF9933;
    background-image: url("http://images.vietnamworks.com/vnm_bkg_viplogo.gif");
    background-position: 0 0;
    background-repeat: no-repeat;
    }

#vnw_vipLogo .salesLogo .salesLogoLink:hover .salesLogoImage {
    border-bottom-color: #FF9933;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-top-color: #FF9933;
    border-top-style: solid;
    border-top-width: 2px;   
    }

#vnw_vipLogo .salesLogo .salesLogoTitle {
    color:#00CCFF;
    display:block;
    font-weight:bold;
    padding-bottom:5px;
    padding-left:2px;
    padding-right:2px;
    padding-top:10px;
    }

#vnw_vipLogo .salesLogo .salesLogoLink:hover .salesLogoTitle {
    color: #FFFFFF;
}
    
#vnw_vipLogo .salesLogo .salesLogoLink:hover .salesLogoDesc {
    color: #000000;
}    
    
    





#vnw_rightcol_left {
    float:left;
    width:530px;
    }

.vnw_conrertop_t {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_boxbg.gif");
    background-position:0 -48px;
    background-repeat:repeat-x;
    height:6px;
    }

.vnw_conrertopt_left {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_boxbg.gif");
    background-position:0 -36px;
    background-repeat:no-repeat;
    display:block;
    float:left;
    height:6px;
    width:6px;
    }


.vnw_conrertopt_right {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_boxbg.gif");
    background-position:-12px -36px;
    background-repeat:no-repeat;
    display:block;
    float:right;
    height:6px;
    width:6px;
    }


ul.vnw_topjobslist {
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    padding-bottom:0;
    padding-left:0;
    padding-right:0;
    padding-top:0;
    width:240px;
    }

.nobackground {
    -moz-background-clip:border !important;
    -moz-background-origin:padding !important;
    -moz-background-size:auto auto !important;
    background-attachment:scroll !important;
    background-color:transparent !important;
    background-image:none !important;
    background-position:0 0 !important;
    background-repeat:repeat !important;
    }

ul.vnw_topjobslist li {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_dotline.gif");
    background-position:0 100%;
    background-repeat:repeat-x;
    margin-bottom:10px;
    padding-bottom:10px;
    }


ul.vnw_topjobslist li a {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_bulletarrow2.gif");
    background-position:0 2px;
    background-repeat:no-repeat;
    display:block;
    font-weight:bold;
    padding-bottom:5px;
    padding-left:12px;
    text-decoration:none;
    }

ul.vnw_topjobslist li span {
    display:block;
    padding-left:12px;
    }

ul.vnw_topjobslist {
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    padding-bottom:0;
    padding-left:0;
    padding-right:0;
    padding-top:0;
    width:240px;
    }

.floatRight {
float:right;
}

.vnw_topjobs_view {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_dotline.gif");
    background-position:0 0;
    background-repeat:repeat-x;
    padding-top:10px;
    }

.vnw_viewall {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_bulletarrow.gif");
    background-position:0 -32px;
    background-repeat:no-repeat;
    color:#333333;
    display:block;
    font-weight:bold;
    padding-left:10px;
    }



#vnw_rightcol_right {
    float:right;
    width:180px;
    }

.vnw_bottom {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_linebottom.gif");
    background-position:0 0;
    background-repeat:repeat-x;
    height:1%;
    }

.vnw_bottom_bg {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_boxbg_ct.gif");
    background-position:0 100%;
    background-repeat:repeat-x;
    padding-bottom:24px;
    padding-left:0;
    padding-right:0;
    padding-top:24px;
    }

.vnw_bottom_line {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_dotline_hoz.gif");
    background-position:490px 0;
    background-repeat:repeat-y;
    }


.vnw_careeradvice {
    float:left;
    padding-right:10px;
    text-align:justify;
    width:480px;
    }



.vnw_title3 {
    color:#FF9900;
    font-size:11px;
    font-weight:bold;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    text-transform:uppercase;
    }


.vnw_paddingtop {
padding-top:10px;
}


.vnw_viewall {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_bulletarrow.gif");
    background-position:0 -32px;
    background-repeat:no-repeat;
    color:#333333;
    display:block;
    font-weight:bold;
    padding-left:10px;
    }


.vnw_paddingtop {
    padding-top:10px;
    }

.vnw_poll {
    float:right;
    width:450px;
    }


p {
margin-bottom:10px;
margin-left:0;
margin-right:0;
margin-top:10px;
padding-bottom:0;
padding-left:0;
padding-right:0;
padding-top:0;
}

.vnw_title4 {
    color:#00CCFF;
    font-weight:bold;
    }

.vnw_formpoll {
}

.vnw_formpoll span {
    display:block;
    padding-bottom:5px;
    }


.vnw_checkpoll {
    vertical-align:middle;
    }

.vnw_labelpoll {
    display:inline;
    padding-top:3px;
    vertical-align:middle;
    }



/*Footer*/


.vnw_footer2 {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:#939598;
    background-image:none;
    background-position:0 0;
    background-repeat:repeat;
    color:#FFFFFF;
    min-width:980px;
    padding-bottom:10px;
    padding-left:0;
    padding-right:0;
    padding-top:10px;
    text-align:center;
    }

.vnw_footer2 a {
    color:#FFFFFF;
    text-decoration:underline;
    }

.vnw_spacemenu {
    padding-bottom:0;
    padding-left:10px;
    padding-right:10px;
    padding-top:0;
    }

p {
    margin-bottom:10px;
    margin-left:0;
    margin-right:0;
    margin-top:10px;
    padding-bottom:0;
    padding-left:0;
    padding-right:0;
    padding-top:0;
    }



element.style {
	position:absolute;
	top:-10000px;
	}



<!--  Jobs css Jobs css Jobs css Jobs css Jobs css Jobs css  -->


