@charset "utf-8";

/* CSS Document */

* {
    outline-color:-moz-use-text-color;
    outline-style:none;
    outline-width:medium;
    }

body {
    color:#666666;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:11px;
    }


.jobs_detail {
	line-height:16px;
	margin:0 auto;
	padding-top:10px;
	width:980px;
}

.jobs_detail h2 {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:#00BCF3;
    background-image:url("../img/vnw_boxbg.gif");
    background-position:0 -55px;
    background-repeat:repeat-x;
    border-bottom-color:#CCCCCC;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-left-color-ltr-source:physical;
    border-left-color-rtl-source:physical;
    border-left-color-value:#CCCCCC;
    border-left-style-ltr-source:physical;
    border-left-style-rtl-source:physical;
    border-left-style-value:solid;
    border-left-width-ltr-source:physical;
    border-left-width-rtl-source:physical;
    border-left-width-value:1px;
    border-right-color-ltr-source:physical;
    border-right-color-rtl-source:physical;
    border-right-color-value:#CCCCCC;
    border-right-style-ltr-source:physical;
    border-right-style-rtl-source:physical;
    border-right-style-value:solid;
    border-right-width-ltr-source:physical;
    border-right-width-rtl-source:physical;
    border-right-width-value:1px;
    border-top-color:-moz-use-text-color;
    border-top-style:none;
    border-top-width:medium;
    color:#FFFFFF;
    font-size:16px;
    font-weight:bold;
    line-height:20px;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:0px;
    padding-top:5px;
}

.jobs_detail h2 span {
    padding-bottom:5px;
    padding-left:25px;
    padding-right:5px;
    padding-top:5px;
}

.jobs_detail fieldset {
    padding: 2px 4px 2px 4px;
    border: 2px solid #FF9933;
}

.jobs_detail fieldset legend {
    font-size: 15px;
    color: #46049F;
    padding-left: 10px;
    padding-right: 10px;
    
}

.jobs_detail fieldset table {
    
}

.jobs_detail fieldset table tr {
    
}

.jobs_detail fieldset table tr td{
    padding-right: 45px;
}








































	
.jobs_view {
	line-height:16px;
	margin:0 auto;
	padding-top:10px;
	width:980px;
}



.jobs_fieldset {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:#FFFFFF;
    background-image:url("../img/vnw_boxbg_ct.gif");
    background-position:0 100%;
    background-repeat:repeat-x;
    border-left-color-ltr-source:physical;
    border-left-color-rtl-source:physical;
    border-left-color-value:#CCCCCC;
    border-left-style-ltr-source:physical;
    border-left-style-rtl-source:physical;
    border-left-style-value:solid;
    border-left-width-ltr-source:physical;
    border-left-width-rtl-source:physical;
    border-left-width-value:1px;
    border-right-color-ltr-source:physical;
    border-right-color-rtl-source:physical;
    border-right-color-value:#CCCCCC;
    border-right-style-ltr-source:physical;
    border-right-style-rtl-source:physical;
    border-right-style-value:solid;
    border-right-width-ltr-source:physical;
    border-right-width-rtl-source:physical;
    border-right-width-value:1px;
    height:1%;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    width: 960px;
}

ul.jobs_fieldset {
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    padding-bottom:0;
    padding-left:10px;
    padding-right:0;
    padding-top:0;
    width:420px;
}

.floatLeft {
    float:left;
}

ul {
    list-style-type:none;
}

ul.jobs_fieldset li {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    background-image:url("../img/vnw_dotline.gif");
    background-position:0 100%;
    background-repeat:repeat-x;
    margin-bottom:10px;
    padding-bottom:10px;
}

ul.jobs_fieldset li a {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    background-attachment:scroll;
    background-color:transparent;
    -background-image:url("../img/vnw_bulletarrow2.gif");
    background-position:0 2px;
    background-repeat:no-repeat;
    display:block;
    font-weight:bold;
    padding-bottom:5px;
    padding-left:12px;
    text-decoration:none;
}

ul.jobs_fieldset li span {
    display:block;
    padding-left:12px;
}