@charset "utf-8";

/* CSS Document */
body {
color:#666666;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
margin:0;
padding:0;
}
input{
margin:0;
padding:0;
}

.clearboth{
clear:both;
}

/**/
.job_header {
	background:url(../img/bgtop.gif) repeat;
	color:#FFFFFF;
	height:130px;
	min-width:980px;
	}

.job_wrap_header {
	margin:auto;
	position:relative;
	width:980px;
	}

.job_tophead {
	float:left;
	padding-top:5px;
	}
	
.job_toplogobanner {
	padding-left:15px;
	padding-top:25px;
	width:790px;
	}
.job_embed{
	color: violet;
	}
	

/* Job Navigation */
.job_nav {
	background:none repeat scroll 0 0 #7FDCF8;
	height:30px;
	min-width:980px;
	margin-bottom:5px;
	}

/* Job Menu */
.job_menu {
margin:auto;
width:980px;
}

/* Job Wrapmenu*/
.job_wrapmenu {
	margin:auto;
	width:980px;
}


/* Job Menu ul */
.job_menu ul {
	float:left;
	margin:0;
	padding: 5px 0 0 0;
	list-style-type:none;
}

.job_menu ul li{
	float:left;
	margin-right:15px;
}

.job_menu ul li a{
	color:#333333;
	display:block;
	float:left;
	font-weight:bold;
	height:15px;
	padding:0 0 4px 4px;
	text-decoration:none;
	text-transform:uppercase;
}

.job_menu ul li a span, .job_menu ul li a.vsredirect span {
	display:block;
	padding:3px 11px 3px 7px;
}

.job_menu ul li a:hover{
	background: url("../img/job_nav_over.gif") no-repeat scroll 100% 0 transparent;
	color: #00CCFF;
	text-decoration: none;
}

/* Job member area : Đang nhap - dang ky */
.member_area{
	padding:8px;
	float: right;
}

a{
	color: #666666;
}

a:hover{
	color: #FF9900;
}

.job_spacemenu {
	padding:0 10px;
}

.member_area ul {
	float:left;
	margin:0 40px 0 0;
	padding:0;
	list-style:none;

}

.member_area ul li{
float:left;
margin-right:5px;

}

.member_area ul li a{
color:#333333;
display:block;
float:left;
height:15px;
padding:0 0 4px 4px;
text-decoration:none;
}

/* Thong tin tuyen dung moi */
.job_new {
margin:0 auto;
background:url("../img/vnw_panel3_vn.jpg") no-repeat 50% 50%;
width:950px;
height:209px;
}
/* Tim kiem */
.timkiem {
margin:0 auto;
background:url("../img/vnw_corner_panel_bg.gif") repeat-x scroll 50% 50% #FFFFFF;
height:36px;
width:950px;

}
.timkiem .pane{
float:right;
margin:10px 30px 0 0;
}
/* Nut search */
.btnsearch {
background:url("../img/vnw_btn1.gif") no-repeat;
border-style:none;
color:#FFFFFF;
cursor:pointer;
font-size:11px;
font-weight:bold;
height:21px;
width:80px;
}

.main{
width:950px;
margin:0 auto;
}
/* Column left  */
.main_left {
float:left;
width:220px;
}

.main_left .title {
	background:#16C2F4;
	border:#CCCCCC solid 1px ;
	height:50px;
	margin:5px 0 0 0;
	text-align:center;
	font-size:13pt;
	color:#FFFFFF;
}
.main_left .logo {
	border:#CCCCCC solid 1px ;
	text-align:center;
	margin:0 auto;
	padding:10px 0 10px 0;

}
.border_img {
	border:#CCCCCC solid 1px;	

}
.main_left .logo .hinh {
	margin:5px 0 0 0;
	
}



/* Column right  */

.main_right {
float:right;
height:1%;
width:720px;
}
.main_right .logongang {
float:right;
height:150px;
width:720px;
border:#CCCCCC solid 1px;
margin:5px 0 0  0;
}

.main_right .logongang .logonho {
float:left;
height:150px;
width:173px;
text-align:center;
margin:20px 10px 0 10xp;
padding:30px 0 0 0;
}

.main_right .rr {
float:right;
width:180px;
margin:5px 0 0  0;
}

.main_right .rl {
float:left;
width:540px;
margin:5px 0 0  0;
}
.main_right .rl .title_xanh {
width:540px;
height:40px;
font-size:13pt;
color:#FFFFFF;
padding:10px 0 0 10px;
margin:5px 0 0  0;
background:#16C2F4;
border:#CCCCCC solid 1px;
}

.main_right .rl .divright {
float:right;
width:270px;
margin:5px 0 0  0;
}

.main_right .rl .divleft {
float:left;
width:270px;
margin:5px 0 0  0;
}

.main_right .rl .divleft .tin {
width:250px;
border-bottom:#999999 dashed 1px;
height:50px;
margin:5px 0 5px 0;
}

.main_right .rl .divright .tin1 {
width:250px;
border-bottom:#999999 dashed 1px;
height:50px;
margin:5px 0 5px 0;
}

.footer {
background:none repeat scroll 0 0 #939598;
color:#FFFFFF;
min-width:950px;
margin:10px 0 0 0;
padding:10px 0;
text-align:center;
}









 